AQXXPT/App_WebReferences/aqxxptService/aqxxptService.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://sjbg.xxjwd.org/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:s1="http://sjbg.xxjwd.org/literalTypes" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" targetNamespace="http://sjbg.xxjwd.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://sjbg.xxjwd.org/">
      <s:import namespace="http://schemas.xmlsoap.org/soap/encoding/" />
      <s:import namespace="http://schemas.xmlsoap.org/wsdl/" />
      <s:complexType name="ArrayOfDepartment">
        <s:complexContent mixed="false">
          <s:restriction base="soapenc:Array">
            <s:attribute wsdl:arrayType="tns:Department[]" ref="soapenc:arrayType" />
          </s:restriction>
        </s:complexContent>
      </s:complexType>
      <s:complexType name="Department">
        <s:sequence>
          <s:element minOccurs="1" maxOccurs="1" form="unqualified" name="ID" type="s:int" />
          <s:element minOccurs="0" maxOccurs="1" form="unqualified" name="Name" type="s:string" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="SjbgSoapHeader">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" form="unqualified" name="A" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" form="unqualified" name="P" type="s:string" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="ArrayOfUser">
        <s:complexContent mixed="false">
          <s:restriction base="soapenc:Array">
            <s:attribute wsdl:arrayType="tns:User[]" ref="soapenc:arrayType" />
          </s:restriction>
        </s:complexContent>
      </s:complexType>
      <s:complexType name="User">
        <s:sequence>
          <s:element minOccurs="1" maxOccurs="1" form="unqualified" name="Uid" type="s:int" />
          <s:element minOccurs="0" maxOccurs="1" form="unqualified" name="UserName" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" form="unqualified" name="UserNo" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" form="unqualified" name="UserDept" type="s:int" />
          <s:element minOccurs="1" maxOccurs="1" form="unqualified" name="TqLevel" type="s:int" />
          <s:element minOccurs="1" maxOccurs="1" form="unqualified" name="GwLevel" type="s:int" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="INT">
        <s:sequence>
          <s:element minOccurs="1" maxOccurs="1" form="unqualified" name="Number" type="s:int" />
          <s:element minOccurs="0" maxOccurs="1" form="unqualified" name="Message" type="s:string" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="ArrayOfAqxxInfo">
        <s:complexContent mixed="false">
          <s:restriction base="soapenc:Array">
            <s:attribute wsdl:arrayType="tns:AqxxInfo[]" ref="soapenc:arrayType" />
          </s:restriction>
        </s:complexContent>
      </s:complexType>
      <s:complexType name="AqxxInfo">
        <s:sequence>
          <s:element minOccurs="1" maxOccurs="1" form="unqualified" name="XXID" type="s:int" />
          <s:element minOccurs="0" maxOccurs="1" form="unqualified" name="Sender" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" form="unqualified" name="Title" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" form="unqualified" name="Content" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" form="unqualified" name="SendTime" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" form="unqualified" name="SendCount" type="s:int" />
          <s:element minOccurs="1" maxOccurs="1" form="unqualified" name="ReadCount" type="s:int" />
          <s:element minOccurs="0" maxOccurs="1" form="unqualified" name="Status" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" form="unqualified" name="Auditor" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" form="unqualified" name="AuditTime" type="s:string" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="ArrayOfAQXX">
        <s:complexContent mixed="false">
          <s:restriction base="soapenc:Array">
            <s:attribute wsdl:arrayType="tns:AQXX[]" ref="soapenc:arrayType" />
          </s:restriction>
        </s:complexContent>
      </s:complexType>
      <s:complexType name="AQXX">
        <s:sequence>
          <s:element minOccurs="1" maxOccurs="1" form="unqualified" name="ID" type="s:int" />
          <s:element minOccurs="0" maxOccurs="1" form="unqualified" name="Title" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" form="unqualified" name="Content" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" form="unqualified" name="SendTime" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" form="unqualified" name="Sender" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" form="unqualified" name="SenderNo" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" form="unqualified" name="SenderName" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" form="unqualified" name="SetTime" type="s:string" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="ArrayOfAqxxDetail">
        <s:complexContent mixed="false">
          <s:restriction base="soapenc:Array">
            <s:attribute wsdl:arrayType="tns:AqxxDetail[]" ref="soapenc:arrayType" />
          </s:restriction>
        </s:complexContent>
      </s:complexType>
      <s:complexType name="AqxxDetail">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" form="unqualified" name="Sender" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" form="unqualified" name="Title" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" form="unqualified" name="SendTime" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" form="unqualified" name="Receiver" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" form="unqualified" name="ReceiveTime" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" form="unqualified" name="ReceiverDept" type="s:string" />
        </s:sequence>
      </s:complexType>
    </s:schema>
    <s:schema elementFormDefault="qualified" targetNamespace="http://sjbg.xxjwd.org/literalTypes">
      <s:element name="ArrayOfDepartment" nillable="true" type="s1:ArrayOfDepartment" />
      <s:complexType name="ArrayOfDepartment">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="Department" nillable="true" type="s1:Department" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="Department">
        <s:sequence>
          <s:element minOccurs="1" maxOccurs="1" name="ID" type="s:int" />
          <s:element minOccurs="0" maxOccurs="1" name="Name" type="s:string" />
        </s:sequence>
      </s:complexType>
      <s:element name="ArrayOfUser" nillable="true" type="s1:ArrayOfUser" />
      <s:complexType name="ArrayOfUser">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="User" nillable="true" type="s1:User" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="User">
        <s:sequence>
          <s:element minOccurs="1" maxOccurs="1" name="Uid" type="s:int" />
          <s:element minOccurs="0" maxOccurs="1" name="UserName" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="UserNo" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="UserDept" type="s:int" />
          <s:element minOccurs="1" maxOccurs="1" name="TqLevel" type="s:int" />
          <s:element minOccurs="1" maxOccurs="1" name="GwLevel" type="s:int" />
        </s:sequence>
      </s:complexType>
      <s:element name="INT" nillable="true" type="s1:INT" />
      <s:complexType name="INT">
        <s:sequence>
          <s:element minOccurs="1" maxOccurs="1" name="Number" type="s:int" />
          <s:element minOccurs="0" maxOccurs="1" name="Message" type="s:string" />
        </s:sequence>
      </s:complexType>
      <s:element name="ArrayOfAqxxInfo" nillable="true" type="s1:ArrayOfAqxxInfo" />
      <s:complexType name="ArrayOfAqxxInfo">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="AqxxInfo" nillable="true" type="s1:AqxxInfo" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="AqxxInfo">
        <s:sequence>
          <s:element minOccurs="1" maxOccurs="1" name="XXID" type="s:int" />
          <s:element minOccurs="0" maxOccurs="1" name="Sender" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Title" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Content" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="SendTime" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="SendCount" type="s:int" />
          <s:element minOccurs="1" maxOccurs="1" name="ReadCount" type="s:int" />
          <s:element minOccurs="0" maxOccurs="1" name="Status" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Auditor" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="AuditTime" type="s:string" />
        </s:sequence>
      </s:complexType>
      <s:element name="int" type="s:int" />
      <s:element name="ArrayOfAQXX" nillable="true" type="s1:ArrayOfAQXX" />
      <s:complexType name="ArrayOfAQXX">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="AQXX" nillable="true" type="s1:AQXX" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="AQXX">
        <s:sequence>
          <s:element minOccurs="1" maxOccurs="1" name="ID" type="s:int" />
          <s:element minOccurs="0" maxOccurs="1" name="Title" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Content" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="SendTime" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Sender" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="SenderNo" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="SenderName" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="SetTime" type="s:string" />
        </s:sequence>
      </s:complexType>
      <s:element name="ArrayOfAqxxDetail" nillable="true" type="s1:ArrayOfAqxxDetail" />
      <s:complexType name="ArrayOfAqxxDetail">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="AqxxDetail" nillable="true" type="s1:AqxxDetail" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="AqxxDetail">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="Sender" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Title" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="SendTime" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Receiver" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="ReceiveTime" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="ReceiverDept" type="s:string" />
        </s:sequence>
      </s:complexType>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="getAqxxptBmSoapIn">
    <wsdl:part name="xxid" type="s:int" />
  </wsdl:message>
  <wsdl:message name="getAqxxptBmSoapOut">
    <wsdl:part name="getAqxxptBmResult" type="tns:ArrayOfDepartment" />
  </wsdl:message>
  <wsdl:message name="getAqxxptBmSjbgSoapHeader">
    <wsdl:part name="SjbgSoapHeader" type="tns:SjbgSoapHeader" />
  </wsdl:message>
  <wsdl:message name="getAqxxptShenHeSoapIn" />
  <wsdl:message name="getAqxxptShenHeSoapOut">
    <wsdl:part name="getAqxxptShenHeResult" type="tns:ArrayOfUser" />
  </wsdl:message>
  <wsdl:message name="getAqxxptShenHeSjbgSoapHeader">
    <wsdl:part name="SjbgSoapHeader" type="tns:SjbgSoapHeader" />
  </wsdl:message>
  <wsdl:message name="applyAqxxSoapIn">
    <wsdl:part name="sender" type="s:string" />
    <wsdl:part name="auditor" type="s:string" />
    <wsdl:part name="title" type="s:string" />
    <wsdl:part name="content" type="s:string" />
    <wsdl:part name="buMens" type="s:string" />
    <wsdl:part name="setTime" type="s:string" />
    <wsdl:part name="lingDaos" type="s:string" />
  </wsdl:message>
  <wsdl:message name="applyAqxxSoapOut">
    <wsdl:part name="applyAqxxResult" type="tns:INT" />
  </wsdl:message>
  <wsdl:message name="applyAqxxSjbgSoapHeader">
    <wsdl:part name="SjbgSoapHeader" type="tns:SjbgSoapHeader" />
  </wsdl:message>
  <wsdl:message name="getAqxxInfoSoapIn">
    <wsdl:part name="uid" type="s:int" />
    <wsdl:part name="xxid" type="s:int" />
  </wsdl:message>
  <wsdl:message name="getAqxxInfoSoapOut">
    <wsdl:part name="getAqxxInfoResult" type="tns:ArrayOfAqxxInfo" />
  </wsdl:message>
  <wsdl:message name="getAqxxInfoSjbgSoapHeader">
    <wsdl:part name="SjbgSoapHeader" type="tns:SjbgSoapHeader" />
  </wsdl:message>
  <wsdl:message name="getAqxxCountSoapIn">
    <wsdl:part name="uid" type="s:int" />
  </wsdl:message>
  <wsdl:message name="getAqxxCountSoapOut">
    <wsdl:part name="getAqxxCountResult" type="s:int" />
  </wsdl:message>
  <wsdl:message name="getAqxxCountSjbgSoapHeader">
    <wsdl:part name="SjbgSoapHeader" type="tns:SjbgSoapHeader" />
  </wsdl:message>
  <wsdl:message name="getAqxxInfosSoapIn">
    <wsdl:part name="uid" type="s:int" />
    <wsdl:part name="ksxh" type="s:int" />
    <wsdl:part name="count" type="s:int" />
  </wsdl:message>
  <wsdl:message name="getAqxxInfosSoapOut">
    <wsdl:part name="getAqxxInfosResult" type="tns:ArrayOfAqxxInfo" />
  </wsdl:message>
  <wsdl:message name="getAqxxInfosSjbgSoapHeader">
    <wsdl:part name="SjbgSoapHeader" type="tns:SjbgSoapHeader" />
  </wsdl:message>
  <wsdl:message name="getAqxxToAuditSoapIn">
    <wsdl:part name="uid" type="s:int" />
    <wsdl:part name="xxid" type="s:int" />
  </wsdl:message>
  <wsdl:message name="getAqxxToAuditSoapOut">
    <wsdl:part name="getAqxxToAuditResult" type="tns:ArrayOfAQXX" />
  </wsdl:message>
  <wsdl:message name="getAqxxToAuditSjbgSoapHeader">
    <wsdl:part name="SjbgSoapHeader" type="tns:SjbgSoapHeader" />
  </wsdl:message>
  <wsdl:message name="getAqxxDetailSoapIn">
    <wsdl:part name="xxid" type="s:int" />
    <wsdl:part name="ksxh" type="s:int" />
    <wsdl:part name="count" type="s:int" />
  </wsdl:message>
  <wsdl:message name="getAqxxDetailSoapOut">
    <wsdl:part name="getAqxxDetailResult" type="tns:ArrayOfAqxxDetail" />
  </wsdl:message>
  <wsdl:message name="getAqxxDetailSjbgSoapHeader">
    <wsdl:part name="SjbgSoapHeader" type="tns:SjbgSoapHeader" />
  </wsdl:message>
  <wsdl:message name="auditAqxxSoapIn">
    <wsdl:part name="xxid" type="s:int" />
    <wsdl:part name="auditor" type="s:string" />
    <wsdl:part name="result" type="s:int" />
    <wsdl:part name="title" type="s:string" />
    <wsdl:part name="txt" type="s:string" />
  </wsdl:message>
  <wsdl:message name="auditAqxxSoapOut">
    <wsdl:part name="auditAqxxResult" type="tns:INT" />
  </wsdl:message>
  <wsdl:message name="auditAqxxSjbgSoapHeader">
    <wsdl:part name="SjbgSoapHeader" type="tns:SjbgSoapHeader" />
  </wsdl:message>
  <wsdl:message name="getAqxxContentSoapIn">
    <wsdl:part name="xxid" type="s:int" />
  </wsdl:message>
  <wsdl:message name="getAqxxContentSoapOut">
    <wsdl:part name="getAqxxContentResult" type="tns:ArrayOfAQXX" />
  </wsdl:message>
  <wsdl:message name="getAqxxContentSjbgSoapHeader">
    <wsdl:part name="SjbgSoapHeader" type="tns:SjbgSoapHeader" />
  </wsdl:message>
  <wsdl:message name="getAqxxptBmHttpGetIn">
    <wsdl:part name="xxid" type="s:string" />
  </wsdl:message>
  <wsdl:message name="getAqxxptBmHttpGetOut">
    <wsdl:part name="Body" element="s1:ArrayOfDepartment" />
  </wsdl:message>
  <wsdl:message name="getAqxxptShenHeHttpGetIn" />
  <wsdl:message name="getAqxxptShenHeHttpGetOut">
    <wsdl:part name="Body" element="s1:ArrayOfUser" />
  </wsdl:message>
  <wsdl:message name="applyAqxxHttpGetIn">
    <wsdl:part name="sender" type="s:string" />
    <wsdl:part name="auditor" type="s:string" />
    <wsdl:part name="title" type="s:string" />
    <wsdl:part name="content" type="s:string" />
    <wsdl:part name="buMens" type="s:string" />
    <wsdl:part name="setTime" type="s:string" />
    <wsdl:part name="lingDaos" type="s:string" />
  </wsdl:message>
  <wsdl:message name="applyAqxxHttpGetOut">
    <wsdl:part name="Body" element="s1:INT" />
  </wsdl:message>
  <wsdl:message name="getAqxxInfoHttpGetIn">
    <wsdl:part name="uid" type="s:string" />
    <wsdl:part name="xxid" type="s:string" />
  </wsdl:message>
  <wsdl:message name="getAqxxInfoHttpGetOut">
    <wsdl:part name="Body" element="s1:ArrayOfAqxxInfo" />
  </wsdl:message>
  <wsdl:message name="getAqxxCountHttpGetIn">
    <wsdl:part name="uid" type="s:string" />
  </wsdl:message>
  <wsdl:message name="getAqxxCountHttpGetOut">
    <wsdl:part name="Body" element="s1:int" />
  </wsdl:message>
  <wsdl:message name="getAqxxInfosHttpGetIn">
    <wsdl:part name="uid" type="s:string" />
    <wsdl:part name="ksxh" type="s:string" />
    <wsdl:part name="count" type="s:string" />
  </wsdl:message>
  <wsdl:message name="getAqxxInfosHttpGetOut">
    <wsdl:part name="Body" element="s1:ArrayOfAqxxInfo" />
  </wsdl:message>
  <wsdl:message name="getAqxxToAuditHttpGetIn">
    <wsdl:part name="uid" type="s:string" />
    <wsdl:part name="xxid" type="s:string" />
  </wsdl:message>
  <wsdl:message name="getAqxxToAuditHttpGetOut">
    <wsdl:part name="Body" element="s1:ArrayOfAQXX" />
  </wsdl:message>
  <wsdl:message name="getAqxxDetailHttpGetIn">
    <wsdl:part name="xxid" type="s:string" />
    <wsdl:part name="ksxh" type="s:string" />
    <wsdl:part name="count" type="s:string" />
  </wsdl:message>
  <wsdl:message name="getAqxxDetailHttpGetOut">
    <wsdl:part name="Body" element="s1:ArrayOfAqxxDetail" />
  </wsdl:message>
  <wsdl:message name="auditAqxxHttpGetIn">
    <wsdl:part name="xxid" type="s:string" />
    <wsdl:part name="auditor" type="s:string" />
    <wsdl:part name="result" type="s:string" />
    <wsdl:part name="title" type="s:string" />
    <wsdl:part name="txt" type="s:string" />
  </wsdl:message>
  <wsdl:message name="auditAqxxHttpGetOut">
    <wsdl:part name="Body" element="s1:INT" />
  </wsdl:message>
  <wsdl:message name="getAqxxContentHttpGetIn">
    <wsdl:part name="xxid" type="s:string" />
  </wsdl:message>
  <wsdl:message name="getAqxxContentHttpGetOut">
    <wsdl:part name="Body" element="s1:ArrayOfAQXX" />
  </wsdl:message>
  <wsdl:message name="getAqxxptBmHttpPostIn">
    <wsdl:part name="xxid" type="s:string" />
  </wsdl:message>
  <wsdl:message name="getAqxxptBmHttpPostOut">
    <wsdl:part name="Body" element="s1:ArrayOfDepartment" />
  </wsdl:message>
  <wsdl:message name="getAqxxptShenHeHttpPostIn" />
  <wsdl:message name="getAqxxptShenHeHttpPostOut">
    <wsdl:part name="Body" element="s1:ArrayOfUser" />
  </wsdl:message>
  <wsdl:message name="applyAqxxHttpPostIn">
    <wsdl:part name="sender" type="s:string" />
    <wsdl:part name="auditor" type="s:string" />
    <wsdl:part name="title" type="s:string" />
    <wsdl:part name="content" type="s:string" />
    <wsdl:part name="buMens" type="s:string" />
    <wsdl:part name="setTime" type="s:string" />
    <wsdl:part name="lingDaos" type="s:string" />
  </wsdl:message>
  <wsdl:message name="applyAqxxHttpPostOut">
    <wsdl:part name="Body" element="s1:INT" />
  </wsdl:message>
  <wsdl:message name="getAqxxInfoHttpPostIn">
    <wsdl:part name="uid" type="s:string" />
    <wsdl:part name="xxid" type="s:string" />
  </wsdl:message>
  <wsdl:message name="getAqxxInfoHttpPostOut">
    <wsdl:part name="Body" element="s1:ArrayOfAqxxInfo" />
  </wsdl:message>
  <wsdl:message name="getAqxxCountHttpPostIn">
    <wsdl:part name="uid" type="s:string" />
  </wsdl:message>
  <wsdl:message name="getAqxxCountHttpPostOut">
    <wsdl:part name="Body" element="s1:int" />
  </wsdl:message>
  <wsdl:message name="getAqxxInfosHttpPostIn">
    <wsdl:part name="uid" type="s:string" />
    <wsdl:part name="ksxh" type="s:string" />
    <wsdl:part name="count" type="s:string" />
  </wsdl:message>
  <wsdl:message name="getAqxxInfosHttpPostOut">
    <wsdl:part name="Body" element="s1:ArrayOfAqxxInfo" />
  </wsdl:message>
  <wsdl:message name="getAqxxToAuditHttpPostIn">
    <wsdl:part name="uid" type="s:string" />
    <wsdl:part name="xxid" type="s:string" />
  </wsdl:message>
  <wsdl:message name="getAqxxToAuditHttpPostOut">
    <wsdl:part name="Body" element="s1:ArrayOfAQXX" />
  </wsdl:message>
  <wsdl:message name="getAqxxDetailHttpPostIn">
    <wsdl:part name="xxid" type="s:string" />
    <wsdl:part name="ksxh" type="s:string" />
    <wsdl:part name="count" type="s:string" />
  </wsdl:message>
  <wsdl:message name="getAqxxDetailHttpPostOut">
    <wsdl:part name="Body" element="s1:ArrayOfAqxxDetail" />
  </wsdl:message>
  <wsdl:message name="auditAqxxHttpPostIn">
    <wsdl:part name="xxid" type="s:string" />
    <wsdl:part name="auditor" type="s:string" />
    <wsdl:part name="result" type="s:string" />
    <wsdl:part name="title" type="s:string" />
    <wsdl:part name="txt" type="s:string" />
  </wsdl:message>
  <wsdl:message name="auditAqxxHttpPostOut">
    <wsdl:part name="Body" element="s1:INT" />
  </wsdl:message>
  <wsdl:message name="getAqxxContentHttpPostIn">
    <wsdl:part name="xxid" type="s:string" />
  </wsdl:message>
  <wsdl:message name="getAqxxContentHttpPostOut">
    <wsdl:part name="Body" element="s1:ArrayOfAQXX" />
  </wsdl:message>
  <wsdl:portType name="aqxxptServiceSoap">
    <wsdl:operation name="getAqxxptBm">
      <wsdl:input message="tns:getAqxxptBmSoapIn" />
      <wsdl:output message="tns:getAqxxptBmSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="getAqxxptShenHe">
      <wsdl:input message="tns:getAqxxptShenHeSoapIn" />
      <wsdl:output message="tns:getAqxxptShenHeSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="applyAqxx">
      <wsdl:input message="tns:applyAqxxSoapIn" />
      <wsdl:output message="tns:applyAqxxSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="getAqxxInfo">
      <wsdl:input message="tns:getAqxxInfoSoapIn" />
      <wsdl:output message="tns:getAqxxInfoSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="getAqxxCount">
      <wsdl:input message="tns:getAqxxCountSoapIn" />
      <wsdl:output message="tns:getAqxxCountSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="getAqxxInfos">
      <wsdl:input message="tns:getAqxxInfosSoapIn" />
      <wsdl:output message="tns:getAqxxInfosSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="getAqxxToAudit">
      <wsdl:input message="tns:getAqxxToAuditSoapIn" />
      <wsdl:output message="tns:getAqxxToAuditSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="getAqxxDetail">
      <wsdl:input message="tns:getAqxxDetailSoapIn" />
      <wsdl:output message="tns:getAqxxDetailSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="auditAqxx">
      <wsdl:input message="tns:auditAqxxSoapIn" />
      <wsdl:output message="tns:auditAqxxSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="getAqxxContent">
      <wsdl:input message="tns:getAqxxContentSoapIn" />
      <wsdl:output message="tns:getAqxxContentSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:portType name="aqxxptServiceHttpGet">
    <wsdl:operation name="getAqxxptBm">
      <wsdl:input message="tns:getAqxxptBmHttpGetIn" />
      <wsdl:output message="tns:getAqxxptBmHttpGetOut" />
    </wsdl:operation>
    <wsdl:operation name="getAqxxptShenHe">
      <wsdl:input message="tns:getAqxxptShenHeHttpGetIn" />
      <wsdl:output message="tns:getAqxxptShenHeHttpGetOut" />
    </wsdl:operation>
    <wsdl:operation name="applyAqxx">
      <wsdl:input message="tns:applyAqxxHttpGetIn" />
      <wsdl:output message="tns:applyAqxxHttpGetOut" />
    </wsdl:operation>
    <wsdl:operation name="getAqxxInfo">
      <wsdl:input message="tns:getAqxxInfoHttpGetIn" />
      <wsdl:output message="tns:getAqxxInfoHttpGetOut" />
    </wsdl:operation>
    <wsdl:operation name="getAqxxCount">
      <wsdl:input message="tns:getAqxxCountHttpGetIn" />
      <wsdl:output message="tns:getAqxxCountHttpGetOut" />
    </wsdl:operation>
    <wsdl:operation name="getAqxxInfos">
      <wsdl:input message="tns:getAqxxInfosHttpGetIn" />
      <wsdl:output message="tns:getAqxxInfosHttpGetOut" />
    </wsdl:operation>
    <wsdl:operation name="getAqxxToAudit">
      <wsdl:input message="tns:getAqxxToAuditHttpGetIn" />
      <wsdl:output message="tns:getAqxxToAuditHttpGetOut" />
    </wsdl:operation>
    <wsdl:operation name="getAqxxDetail">
      <wsdl:input message="tns:getAqxxDetailHttpGetIn" />
      <wsdl:output message="tns:getAqxxDetailHttpGetOut" />
    </wsdl:operation>
    <wsdl:operation name="auditAqxx">
      <wsdl:input message="tns:auditAqxxHttpGetIn" />
      <wsdl:output message="tns:auditAqxxHttpGetOut" />
    </wsdl:operation>
    <wsdl:operation name="getAqxxContent">
      <wsdl:input message="tns:getAqxxContentHttpGetIn" />
      <wsdl:output message="tns:getAqxxContentHttpGetOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:portType name="aqxxptServiceHttpPost">
    <wsdl:operation name="getAqxxptBm">
      <wsdl:input message="tns:getAqxxptBmHttpPostIn" />
      <wsdl:output message="tns:getAqxxptBmHttpPostOut" />
    </wsdl:operation>
    <wsdl:operation name="getAqxxptShenHe">
      <wsdl:input message="tns:getAqxxptShenHeHttpPostIn" />
      <wsdl:output message="tns:getAqxxptShenHeHttpPostOut" />
    </wsdl:operation>
    <wsdl:operation name="applyAqxx">
      <wsdl:input message="tns:applyAqxxHttpPostIn" />
      <wsdl:output message="tns:applyAqxxHttpPostOut" />
    </wsdl:operation>
    <wsdl:operation name="getAqxxInfo">
      <wsdl:input message="tns:getAqxxInfoHttpPostIn" />
      <wsdl:output message="tns:getAqxxInfoHttpPostOut" />
    </wsdl:operation>
    <wsdl:operation name="getAqxxCount">
      <wsdl:input message="tns:getAqxxCountHttpPostIn" />
      <wsdl:output message="tns:getAqxxCountHttpPostOut" />
    </wsdl:operation>
    <wsdl:operation name="getAqxxInfos">
      <wsdl:input message="tns:getAqxxInfosHttpPostIn" />
      <wsdl:output message="tns:getAqxxInfosHttpPostOut" />
    </wsdl:operation>
    <wsdl:operation name="getAqxxToAudit">
      <wsdl:input message="tns:getAqxxToAuditHttpPostIn" />
      <wsdl:output message="tns:getAqxxToAuditHttpPostOut" />
    </wsdl:operation>
    <wsdl:operation name="getAqxxDetail">
      <wsdl:input message="tns:getAqxxDetailHttpPostIn" />
      <wsdl:output message="tns:getAqxxDetailHttpPostOut" />
    </wsdl:operation>
    <wsdl:operation name="auditAqxx">
      <wsdl:input message="tns:auditAqxxHttpPostIn" />
      <wsdl:output message="tns:auditAqxxHttpPostOut" />
    </wsdl:operation>
    <wsdl:operation name="getAqxxContent">
      <wsdl:input message="tns:getAqxxContentHttpPostIn" />
      <wsdl:output message="tns:getAqxxContentHttpPostOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="aqxxptServiceSoap" type="tns:aqxxptServiceSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="rpc" />
    <wsdl:operation name="getAqxxptBm">
      <soap:operation soapAction="http://sjbg.xxjwd.org/getAqxxptBm" style="rpc" />
      <wsdl:input>
        <soap:body use="encoded" namespace="http://sjbg.xxjwd.org/" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" />
        <soap:header message="tns:getAqxxptBmSjbgSoapHeader" part="SjbgSoapHeader" use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="http://sjbg.xxjwd.org/" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="encoded" namespace="http://sjbg.xxjwd.org/" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getAqxxptShenHe">
      <soap:operation soapAction="http://sjbg.xxjwd.org/getAqxxptShenHe" style="rpc" />
      <wsdl:input>
        <soap:body use="encoded" namespace="http://sjbg.xxjwd.org/" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" />
        <soap:header message="tns:getAqxxptShenHeSjbgSoapHeader" part="SjbgSoapHeader" use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="http://sjbg.xxjwd.org/" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="encoded" namespace="http://sjbg.xxjwd.org/" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="applyAqxx">
      <soap:operation soapAction="http://sjbg.xxjwd.org/applyAqxx" style="rpc" />
      <wsdl:input>
        <soap:body use="encoded" namespace="http://sjbg.xxjwd.org/" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" />
        <soap:header message="tns:applyAqxxSjbgSoapHeader" part="SjbgSoapHeader" use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="http://sjbg.xxjwd.org/" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="encoded" namespace="http://sjbg.xxjwd.org/" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getAqxxInfo">
      <soap:operation soapAction="http://sjbg.xxjwd.org/getAqxxInfo" style="rpc" />
      <wsdl:input>
        <soap:body use="encoded" namespace="http://sjbg.xxjwd.org/" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" />
        <soap:header message="tns:getAqxxInfoSjbgSoapHeader" part="SjbgSoapHeader" use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="http://sjbg.xxjwd.org/" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="encoded" namespace="http://sjbg.xxjwd.org/" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getAqxxCount">
      <soap:operation soapAction="http://sjbg.xxjwd.org/getAqxxCount" style="rpc" />
      <wsdl:input>
        <soap:body use="encoded" namespace="http://sjbg.xxjwd.org/" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" />
        <soap:header message="tns:getAqxxCountSjbgSoapHeader" part="SjbgSoapHeader" use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="http://sjbg.xxjwd.org/" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="encoded" namespace="http://sjbg.xxjwd.org/" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getAqxxInfos">
      <soap:operation soapAction="http://sjbg.xxjwd.org/getAqxxInfos" style="rpc" />
      <wsdl:input>
        <soap:body use="encoded" namespace="http://sjbg.xxjwd.org/" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" />
        <soap:header message="tns:getAqxxInfosSjbgSoapHeader" part="SjbgSoapHeader" use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="http://sjbg.xxjwd.org/" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="encoded" namespace="http://sjbg.xxjwd.org/" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getAqxxToAudit">
      <soap:operation soapAction="http://sjbg.xxjwd.org/getAqxxToAudit" style="rpc" />
      <wsdl:input>
        <soap:body use="encoded" namespace="http://sjbg.xxjwd.org/" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" />
        <soap:header message="tns:getAqxxToAuditSjbgSoapHeader" part="SjbgSoapHeader" use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="http://sjbg.xxjwd.org/" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="encoded" namespace="http://sjbg.xxjwd.org/" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getAqxxDetail">
      <soap:operation soapAction="http://sjbg.xxjwd.org/getAqxxDetail" style="rpc" />
      <wsdl:input>
        <soap:body use="encoded" namespace="http://sjbg.xxjwd.org/" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" />
        <soap:header message="tns:getAqxxDetailSjbgSoapHeader" part="SjbgSoapHeader" use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="http://sjbg.xxjwd.org/" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="encoded" namespace="http://sjbg.xxjwd.org/" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="auditAqxx">
      <soap:operation soapAction="http://sjbg.xxjwd.org/auditAqxx" style="rpc" />
      <wsdl:input>
        <soap:body use="encoded" namespace="http://sjbg.xxjwd.org/" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" />
        <soap:header message="tns:auditAqxxSjbgSoapHeader" part="SjbgSoapHeader" use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="http://sjbg.xxjwd.org/" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="encoded" namespace="http://sjbg.xxjwd.org/" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getAqxxContent">
      <soap:operation soapAction="http://sjbg.xxjwd.org/getAqxxContent" style="rpc" />
      <wsdl:input>
        <soap:body use="encoded" namespace="http://sjbg.xxjwd.org/" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" />
        <soap:header message="tns:getAqxxContentSjbgSoapHeader" part="SjbgSoapHeader" use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="http://sjbg.xxjwd.org/" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="encoded" namespace="http://sjbg.xxjwd.org/" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="aqxxptServiceSoap12" type="tns:aqxxptServiceSoap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" style="rpc" />
    <wsdl:operation name="getAqxxptBm">
      <soap12:operation soapAction="http://sjbg.xxjwd.org/getAqxxptBm" style="rpc" />
      <wsdl:input>
        <soap12:body use="encoded" namespace="http://sjbg.xxjwd.org/" encodingStyle="http://www.w3.org/2003/05/soap-encoding" />
        <soap12:header message="tns:getAqxxptBmSjbgSoapHeader" part="SjbgSoapHeader" use="encoded" encodingStyle="http://www.w3.org/2003/05/soap-encoding" namespace="http://sjbg.xxjwd.org/" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="encoded" namespace="http://sjbg.xxjwd.org/" encodingStyle="http://www.w3.org/2003/05/soap-encoding" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getAqxxptShenHe">
      <soap12:operation soapAction="http://sjbg.xxjwd.org/getAqxxptShenHe" style="rpc" />
      <wsdl:input>
        <soap12:body use="encoded" namespace="http://sjbg.xxjwd.org/" encodingStyle="http://www.w3.org/2003/05/soap-encoding" />
        <soap12:header message="tns:getAqxxptShenHeSjbgSoapHeader" part="SjbgSoapHeader" use="encoded" encodingStyle="http://www.w3.org/2003/05/soap-encoding" namespace="http://sjbg.xxjwd.org/" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="encoded" namespace="http://sjbg.xxjwd.org/" encodingStyle="http://www.w3.org/2003/05/soap-encoding" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="applyAqxx">
      <soap12:operation soapAction="http://sjbg.xxjwd.org/applyAqxx" style="rpc" />
      <wsdl:input>
        <soap12:body use="encoded" namespace="http://sjbg.xxjwd.org/" encodingStyle="http://www.w3.org/2003/05/soap-encoding" />
        <soap12:header message="tns:applyAqxxSjbgSoapHeader" part="SjbgSoapHeader" use="encoded" encodingStyle="http://www.w3.org/2003/05/soap-encoding" namespace="http://sjbg.xxjwd.org/" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="encoded" namespace="http://sjbg.xxjwd.org/" encodingStyle="http://www.w3.org/2003/05/soap-encoding" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getAqxxInfo">
      <soap12:operation soapAction="http://sjbg.xxjwd.org/getAqxxInfo" style="rpc" />
      <wsdl:input>
        <soap12:body use="encoded" namespace="http://sjbg.xxjwd.org/" encodingStyle="http://www.w3.org/2003/05/soap-encoding" />
        <soap12:header message="tns:getAqxxInfoSjbgSoapHeader" part="SjbgSoapHeader" use="encoded" encodingStyle="http://www.w3.org/2003/05/soap-encoding" namespace="http://sjbg.xxjwd.org/" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="encoded" namespace="http://sjbg.xxjwd.org/" encodingStyle="http://www.w3.org/2003/05/soap-encoding" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getAqxxCount">
      <soap12:operation soapAction="http://sjbg.xxjwd.org/getAqxxCount" style="rpc" />
      <wsdl:input>
        <soap12:body use="encoded" namespace="http://sjbg.xxjwd.org/" encodingStyle="http://www.w3.org/2003/05/soap-encoding" />
        <soap12:header message="tns:getAqxxCountSjbgSoapHeader" part="SjbgSoapHeader" use="encoded" encodingStyle="http://www.w3.org/2003/05/soap-encoding" namespace="http://sjbg.xxjwd.org/" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="encoded" namespace="http://sjbg.xxjwd.org/" encodingStyle="http://www.w3.org/2003/05/soap-encoding" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getAqxxInfos">
      <soap12:operation soapAction="http://sjbg.xxjwd.org/getAqxxInfos" style="rpc" />
      <wsdl:input>
        <soap12:body use="encoded" namespace="http://sjbg.xxjwd.org/" encodingStyle="http://www.w3.org/2003/05/soap-encoding" />
        <soap12:header message="tns:getAqxxInfosSjbgSoapHeader" part="SjbgSoapHeader" use="encoded" encodingStyle="http://www.w3.org/2003/05/soap-encoding" namespace="http://sjbg.xxjwd.org/" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="encoded" namespace="http://sjbg.xxjwd.org/" encodingStyle="http://www.w3.org/2003/05/soap-encoding" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getAqxxToAudit">
      <soap12:operation soapAction="http://sjbg.xxjwd.org/getAqxxToAudit" style="rpc" />
      <wsdl:input>
        <soap12:body use="encoded" namespace="http://sjbg.xxjwd.org/" encodingStyle="http://www.w3.org/2003/05/soap-encoding" />
        <soap12:header message="tns:getAqxxToAuditSjbgSoapHeader" part="SjbgSoapHeader" use="encoded" encodingStyle="http://www.w3.org/2003/05/soap-encoding" namespace="http://sjbg.xxjwd.org/" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="encoded" namespace="http://sjbg.xxjwd.org/" encodingStyle="http://www.w3.org/2003/05/soap-encoding" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getAqxxDetail">
      <soap12:operation soapAction="http://sjbg.xxjwd.org/getAqxxDetail" style="rpc" />
      <wsdl:input>
        <soap12:body use="encoded" namespace="http://sjbg.xxjwd.org/" encodingStyle="http://www.w3.org/2003/05/soap-encoding" />
        <soap12:header message="tns:getAqxxDetailSjbgSoapHeader" part="SjbgSoapHeader" use="encoded" encodingStyle="http://www.w3.org/2003/05/soap-encoding" namespace="http://sjbg.xxjwd.org/" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="encoded" namespace="http://sjbg.xxjwd.org/" encodingStyle="http://www.w3.org/2003/05/soap-encoding" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="auditAqxx">
      <soap12:operation soapAction="http://sjbg.xxjwd.org/auditAqxx" style="rpc" />
      <wsdl:input>
        <soap12:body use="encoded" namespace="http://sjbg.xxjwd.org/" encodingStyle="http://www.w3.org/2003/05/soap-encoding" />
        <soap12:header message="tns:auditAqxxSjbgSoapHeader" part="SjbgSoapHeader" use="encoded" encodingStyle="http://www.w3.org/2003/05/soap-encoding" namespace="http://sjbg.xxjwd.org/" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="encoded" namespace="http://sjbg.xxjwd.org/" encodingStyle="http://www.w3.org/2003/05/soap-encoding" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getAqxxContent">
      <soap12:operation soapAction="http://sjbg.xxjwd.org/getAqxxContent" style="rpc" />
      <wsdl:input>
        <soap12:body use="encoded" namespace="http://sjbg.xxjwd.org/" encodingStyle="http://www.w3.org/2003/05/soap-encoding" />
        <soap12:header message="tns:getAqxxContentSjbgSoapHeader" part="SjbgSoapHeader" use="encoded" encodingStyle="http://www.w3.org/2003/05/soap-encoding" namespace="http://sjbg.xxjwd.org/" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="encoded" namespace="http://sjbg.xxjwd.org/" encodingStyle="http://www.w3.org/2003/05/soap-encoding" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="aqxxptServiceHttpGet" type="tns:aqxxptServiceHttpGet">
    <http:binding verb="GET" />
    <wsdl:operation name="getAqxxptBm">
      <http:operation location="/getAqxxptBm" />
      <wsdl:input>
        <http:urlEncoded />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getAqxxptShenHe">
      <http:operation location="/getAqxxptShenHe" />
      <wsdl:input>
        <http:urlEncoded />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="applyAqxx">
      <http:operation location="/applyAqxx" />
      <wsdl:input>
        <http:urlEncoded />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getAqxxInfo">
      <http:operation location="/getAqxxInfo" />
      <wsdl:input>
        <http:urlEncoded />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getAqxxCount">
      <http:operation location="/getAqxxCount" />
      <wsdl:input>
        <http:urlEncoded />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getAqxxInfos">
      <http:operation location="/getAqxxInfos" />
      <wsdl:input>
        <http:urlEncoded />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getAqxxToAudit">
      <http:operation location="/getAqxxToAudit" />
      <wsdl:input>
        <http:urlEncoded />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getAqxxDetail">
      <http:operation location="/getAqxxDetail" />
      <wsdl:input>
        <http:urlEncoded />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="auditAqxx">
      <http:operation location="/auditAqxx" />
      <wsdl:input>
        <http:urlEncoded />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getAqxxContent">
      <http:operation location="/getAqxxContent" />
      <wsdl:input>
        <http:urlEncoded />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="aqxxptServiceHttpPost" type="tns:aqxxptServiceHttpPost">
    <http:binding verb="POST" />
    <wsdl:operation name="getAqxxptBm">
      <http:operation location="/getAqxxptBm" />
      <wsdl:input>
        <mime:content type="application/x-www-form-urlencoded" />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getAqxxptShenHe">
      <http:operation location="/getAqxxptShenHe" />
      <wsdl:input>
        <mime:content type="application/x-www-form-urlencoded" />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="applyAqxx">
      <http:operation location="/applyAqxx" />
      <wsdl:input>
        <mime:content type="application/x-www-form-urlencoded" />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getAqxxInfo">
      <http:operation location="/getAqxxInfo" />
      <wsdl:input>
        <mime:content type="application/x-www-form-urlencoded" />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getAqxxCount">
      <http:operation location="/getAqxxCount" />
      <wsdl:input>
        <mime:content type="application/x-www-form-urlencoded" />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getAqxxInfos">
      <http:operation location="/getAqxxInfos" />
      <wsdl:input>
        <mime:content type="application/x-www-form-urlencoded" />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getAqxxToAudit">
      <http:operation location="/getAqxxToAudit" />
      <wsdl:input>
        <mime:content type="application/x-www-form-urlencoded" />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getAqxxDetail">
      <http:operation location="/getAqxxDetail" />
      <wsdl:input>
        <mime:content type="application/x-www-form-urlencoded" />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="auditAqxx">
      <http:operation location="/auditAqxx" />
      <wsdl:input>
        <mime:content type="application/x-www-form-urlencoded" />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getAqxxContent">
      <http:operation location="/getAqxxContent" />
      <wsdl:input>
        <mime:content type="application/x-www-form-urlencoded" />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="aqxxptService">
    <wsdl:port name="aqxxptServiceSoap" binding="tns:aqxxptServiceSoap">
      <soap:address location="http://localhost:4024/aqxxptService.asmx" />
    </wsdl:port>
    <wsdl:port name="aqxxptServiceSoap12" binding="tns:aqxxptServiceSoap12">
      <soap12:address location="http://localhost:4024/aqxxptService.asmx" />
    </wsdl:port>
    <wsdl:port name="aqxxptServiceHttpGet" binding="tns:aqxxptServiceHttpGet">
      <http:address location="http://localhost:4024/aqxxptService.asmx" />
    </wsdl:port>
    <wsdl:port name="aqxxptServiceHttpPost" binding="tns:aqxxptServiceHttpPost">
      <http:address location="http://localhost:4024/aqxxptService.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>